.product-card{
    width: 200px;
    max-height: 420px;
    overflow: hidden;
}

.description, .title{
    overflow: hidden; /* Hides overflowing content */
    text-overflow: ellipsis; /* Displays ellipsis for truncated text */
    display: -webkit-box; /* Enables the flexible box model */
    -webkit-line-clamp: 2; /* Limits the text to 2 lines */
    line-clamp: 2; /* Standard property for compatibility */
    -webkit-box-orient: vertical;
}

.product-image{
    height: 140px;
    width: 100%;
    object-fit: contain;
    display: block;
}

.product-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}